@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
   
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
	display: grid;
	place-items: center;
	overflow: hidden !important;
    padding: 3px;
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.player-container {
    max-width: 420px;
    height: 660px;
    background-color: #3E9403;
    border-radius: 7px;
    margin:0;
}

/* logo */
.logo {
    width: 100%;
    background-color: #3E9403;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1rem;
}

/* Presenter top Image */
.presenter-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.presenter-content{
    padding: 1rem;
    position: relative;
    text-align: center;
}

.presenter-content p {
    font-size: 0.9rem;
    opacity: 0.7;
}

/* .presenter-content a {
    display: block;
    margin-bottom: 0.3rem;
    text-decoration: none;
    font-weight: 800;
    color: #000;
} */

.radio-content {
    text-align: center;
    background-color: #fff;
    height: 220px;
    border-radius: 7px;
    position: relative;
    border-top-left-radius:60px ;
    border-top-right-radius:60px ;
    -webkit-box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}



.radioco-playButton-playing:before {
  font-family: 'FontAwesome', sans-serif;
content: "\f04b";
}

.radioco-playButton-paused:before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f04c";
}

.radioplayer {
 border: 5px solid white !important;
 text-align: center;
}

.radioco-playButton {
    color: #fff;
    background-color:   #3E9403;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    font-size: 50px;
    -webkit-box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
    box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
}

.radioco-playButton:active {
    color: #ccc;
}

.radioco-playButton-playing {
    font-family: "controls";
   margin-left: 11px;
   margin-top: 3px;
}


.radioco-playButton-paused {
    font-family: "controls";
   margin-top: 5px;
}

.radioco-elapsedTime {
    opacity: 0.4;
    font-size: 14px;
    position: absolute;
    left: 43%;
    top: 10%;
    margin-bottom: 2rem;
    display: block;
}

.radioco-information span {
    display: block;
}

input[type="range"] {
    background: rgba(192, 187, 187, 0.3);
    width: 200px;
    display: block;
    height: 4px;
    -webkit-appearance: none;
    margin-top: 20px;
    margin-left: 50%;
    margin-bottom: 20px;
    cursor: -webkit-grab;
    outline: 0;
}

input.radioco-volume {
  position: absolute;
  top: 3rem;
  transform: translateX(-50%);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    background-color: #3E9403 !important;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #ffffff;
}

.radioco-information input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: #fff 1px 1px 20px;
}

.radioco-information input[type=range]:active,
.information input[type=range]:focus {
    outline: 0;
}

.logo img {
    width: 45px;
}

.logo {
    padding: 0.3rem;
}

.btns .btn {
    display: inline-block;
    color: #fff;
    margin: 0.6rem;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
}




/* designed color   #77c08b */

@media only screen and (max-width: 400px) {
    body {
      padding: 0;
    }
    .player-container {
        width: 100%;
        height: 100vh;
    }

    .logo {
        display: none;
    }

  }

  setAttribute("href", "somelink url");