@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
	display: grid;
	place-items: center;
	overflow: hidden !important;
    padding: 1rem;
    background-color: black;
}

.player-container {
    max-width: 420px;
    background-color:  #bbdfc5;
    border-radius: 7px;
}

/* logo */
.logo {
    width: 100%;
    height: 3rem;
}

/* Presenter top Image */
.presenter-img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presenter-content{
    padding: 2rem;
    position: relative;
    text-align: center;
}

.presenter-content p {
    font-size: 0.9rem;
    opacity: 0.7;
}

.presenter-content a {
    display: block;
    margin-bottom: 0.3rem;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}

.radio-content {
    text-align: center;
    background-color: #fff;
    height: 200px;
    border-radius: 7px;
    position: relative;
    border-top-left-radius:60px ;
    border-top-right-radius:60px ;
    webkit-box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
box-shadow: 10px 10px 186px 25px rgba(0,0,0,0.75);
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}



.radioco-playButton-playing:before {
  font-family: 'FontAwesome', sans-serif;
content: "\f04b";
}

.radioco-playButton-paused:before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f04c";
}

.radioplayer {
 border: 5px solid white !important;
 text-align: center;
}

.radioco-playButton {
    color: #fff;
    background-color:  #bbdfc5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
    /* position: relative; */
    z-index: 2;
    font-size: 50px;
    -webkit-box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
    box-shadow: 10px 57px 184px 22px rgba(0,0,0,0.75);
}

.radioco-playButton:active {
    color: #ccc;
}

.radioco-playButton-playing {
    font-family: "controls";
    /* position: absolute; */
   margin-left: 11px;
   margin-top: 3px;
}


.radioco-playButton-paused {
    font-family: "controls";
    /* position: absolute; */
    
   margin-top: 5px;
}

.radioco-elapsedTime {
    opacity: 0.4;
    font-size: 14px;
    position: absolute;
    left: 43%;
    top: 10%;
    margin-bottom: 2rem;
    display: block;
}

.radioco-information span {
    display: block;
}

input[type="range"] {
    background: rgba(192, 187, 187, 0.3);
    width: 200px;
    display: block;
    height: 4px;
    -webkit-appearance: none;
    -webkit-border-radius: 8px;
    margin-top: 20px;
    margin-left: 50%;
    margin-bottom: 20px;
    cursor: -webkit-grab;
    outline: 0;
}

input.radioco-volume {
  position: absolute;
  top: 3rem;
  /* left: 50%; */
  transform: translateX(-50%);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    
    background-color: #bbdfc5 !important;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #ffffff;
    /* -webkit-transition: box-shadow 0.2s; */

}

.radioco-information input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: #fff 1px 1px 20px;
}

.radioco-information input[type=range]:active,
.information input[type=range]:focus {
    outline: 0;
}

.logo img {
    width: 45px;
}

.logo {
    padding: 0.3rem;
}